@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  overflow-x: hidden;
}

#postlab {
  -webkit-text-fill-color: transparent;
}

span#postlab:hover {
  -webkit-text-fill-color: white;
}

.icon:hover {
  -webkit-text-fill-color: transparent;
}

.next,
.previous {
  padding-block: 0.5rem;
}

.selected {
  background-color: rgb(243 244 246);
}
